<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @name %></h1>
    <p>
      <%= @body %>
    </p>

    <p>
      <b>
        This is my signature
      </b>
    </p>
  </body>
</html>
