<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= raw @body %>
    </p>

<p>
  --<br>
  <b>Austin Craig</b><br>
  (480)525-7284 ext.700<br>
  <a href="https://www.christiancounselornearme.com">Association of Christian Counselors in Private Practice</a>
</p>

    <p>
      <img src="https://s3.amazonaws.com/superswimbros.dev/association_of_christian_counselors.png" alt="Association of Christian Counsenling In Private Practice Logo" height="65" width="420">
    </p>
  </body>
</html>
